{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Permisos list</h1>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Permiso</th>
                <th>Llave</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('permisos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.permiso }}</td>
                <td>{{ entity.llave }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('permisos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('permisos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('permisos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
